.container {
  width: 960px;
}

body {
  /*background: url("../images/background.gif") repeat-y scroll center center #EDF5F9;*/
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
}

header {
  background-color: #FFD900;
  padding-top:1px;
  height:40px;
}

header img {
  /*padding: 1em;*/
  background: #fff;
}

section {
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #004FB6;
  text-decoration: none;
}

a:hover {
  color: #004FB6;
  text-decoration: underline;
}

a:visited {
  color: #004FB6;
}

/* Navigation */

nav {
  float: left;
}

nav {
  padding: 0 1em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.8em 0;
  font-size: 1.2em
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #004FB6;
}

nav ul li a:visited {
  color: #004FB6;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* Home page */
.eventheader{
   padding:6px 0 0;
}
.mainCol{
   width:550px;
}
.mainCol .dateheader{
   background-color:#F2F2F2;
   border-bottom: medium none;
   border-top:1px solid #E2E2E2;
   padding: 4px 5px 5px;
}
.dateheader h3{
   color:#333333;
   font-size:12px;
   font-weight:bold;
   line-height:1;
   margin-bottom:0;
}
.eventRow{
  padding:0 5px;
}

.eventRow ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.eventRow ul li{
  padding: 8px 0;
}

.eventRow ul li .rsvpBtn{
  float: right;
  text-align:right;
  margin-top:10px;
  padding-left:8px;
}

.eventRow ul li .eventLogo{
  float:left;
  margin-right:10px;
}

.eventRow ul li .eventInfo{
  height:50px;
  vertical-align:middle;
  display:table-cell;
  width:10000px;
}

.eventRow ul li .eventTitle{
  font-weight:bold;
  margin-right:5px;
}

.eventRow ul li .eventTitleLink{
  color:#004FB6;
  cursor:pointer;
  text-decoration:none;
}

.eventRow ul li .eventDateTime{
  color:#808080;
  font-size:11px;
}

#jsddm{
  margin: 0;
	padding: 0}

#jsddm li{
  float: left;
  list-style: none;
  padding-left:8px;
  padding-right:8px;
  /*font: 12px Tahoma, Arial*/
}

#jsddm li a{
  display: block;
  /*background: #20548E;*/
  /*padding: 5px 6px;*/
  text-decoration: none;
  /*border-right: 1px solid white;*/
  /*color: #EAFFED;*/
  white-space: nowrap
}

#jsddm li a:hover{
  /*background: #1A4473*/
}

#jsddm li ul{
  margin: 0;
  padding: 6px 10px 0px 5px;
  position: absolute;
  visibility: hidden;
  width:100px;
}

#jsddm li ul li{
  float: none;
  display: inline;
  background: #FFD900;
  padding:0;
}

#jsddm li ul li a{
  width: auto;
  font-size:14px;
  padding:4px 0;
  background: #FFD900;
  text-align:center;
}

#jsddm li ul li a:hover{
  background: #ffff33;
}

.eventRow ul li .eventAttendCount{
  color:#808080;
  font-size:11px;
}