.container {
  width: 960px;
}

body {
  /*background: url("../images/background.gif") repeat-y scroll center center #EDF5F9;*/
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
}

header {
  background-color: #FFD900;
  padding-top:1px;
  height:40px;
}

header img {
  /*padding: 1em;*/
  background: #fff;
}

section {
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #004FB6;
  text-decoration: none;
}

a:hover {
  color: #004FB6;
  text-decoration: underline;
}

a:visited {
  color: #004FB6;
}

/* Navigation */

nav {
  float: left;
}

nav {
  padding: 0 1em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.8em 0;
  font-size: 1.2em
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #004FB6;
}

nav ul li a:visited {
  color: #004FB6;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* Home page */
.eventheader{
   padding:6px 0 0;
}
.mainCol{
   width:550px;
}
.mainCol .dateheader{
   background-color:#F2F2F2;
   border-bottom: medium none;
   border-top:1px solid #E2E2E2;
   padding: 4px 5px 5px;
}
.dateheader h3{
   color:#333333;
   font-size:12px;
   font-weight:bold;
   line-height:1;
   margin-bottom:0;
}
.eventRow{
  padding:0 5px;
}

.eventRow ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.eventRow ul li{
  padding: 8px 0;
}

.eventRow ul li .rsvpBtn{
  float: right;
  text-align:right;
  margin-top:10px;
  padding-left:8px;
}

.eventRow ul li .eventLogo{
  float:left;
  margin-right:10px;
}

.eventRow ul li .eventInfo{
  height:50px;
  vertical-align:middle;
  display:table-cell;
}

.eventRow ul li .eventTitle{
  font-weight:bold;
  margin-right:5px;
}

.eventRow ul li .eventTitleLink{
  color:#004FB6;
  cursor:pointer;
  text-decoration:none;
}

.eventRow ul li .eventDateTime{
  color:#808080;
  font-size:11px;
}

#jsddm{
  margin: 0;
  padding: 0}

#jsddm li{
  float: left;
  list-style: none;
  padding-left:8px;
  padding-right:8px;
  /*font: 12px Tahoma, Arial*/
}

#jsddm li a{
  display: block;
  /*background: #20548E;*/
  /*padding: 5px 6px;*/
  text-decoration: none;
  /*border-right: 1px solid white;*/
  /*color: #EAFFED;*/
  white-space: nowrap
}

#jsddm li a:hover{
  /*background: #1A4473*/
}

#jsddm li ul{
  margin: 0;
  padding: 8px 10px 0px 5px;
  position: absolute;
  visibility: hidden;
  width:90px;
}

#jsddm li ul li{
  float: none;
  display: inline;
  background: #FFD900;
  padding:0;
}

#jsddm li ul li a{
  width: auto;
  font-size:14px;
  padding:4px 0;
  background: #FFD900;
  text-align:center;
}

#jsddm li ul li a:hover{
  background: #ffff33;
}

.eventRow ul li .eventAttendCount{
  color:#808080;
  font-size:11px;
}

.leftCol{
  float:left;
  padding:20px 0 0 2px;
  width:179px;
  word-wrap: break-word;
}

.leftCol .eventLogo{
  width: 179px;
  marigin-bottom:10px;
  border: 0 none;
}

.leftCol .eventPeopleCount{
  font-size:11px;
  color: #808080;
}

.leftCol ul{
  margin-top:5px;
  list-style-type:none;
  padding:0;
}

.leftCol ul li{
  height:20px;
  vertical-align:middle;
  color: #3B5998;
  text-decoration:none;
  font-size:12px;
}
.eventSideBtn {
  float:right;
}
.headerArea {
  float:left;
  margin: 20px 0px 10px 40px;
  width:700px;
}

.headerArea .profileHeader{
  width:513px;

}
.rightContainer{
  margin-left:181px;
  display:block;

}
.contentCol {
  width:493px;
  float:left;
  padding-left:40px;
}
.rightContainer .eventInfo{
  padding-right:0;
  width:493px;
  float:left;
  padding-left:40px;
}
.rightContainer .eventInfoTable{
  border: 0 none;
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  margin-bottom:10px;
  margin-top:10px;
}

.eventInfoTable th.label{
  width:80px;
  padding-right:8px;
  color:#3B5998;
  line-height:15px;
  font-weight:bold;
  vertical-align:top;
  text-align:left;
  height:30px;
}

.eventInfoTable td.data{
  padding:3px 0 1px;
  color:#808080;
  line-height:15px;
  vertical-align:top;
  text-align:justify;
  background: none;
}
#eventPhotos, #eventWalls{
	margin-top:20px;
}

#eventPhotos ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#eventPhotos ul li{
	display:inline;
	padding-right:20px;
}

.pastEvents{
	margin-top:10px;
	font-size:12px;
}

/* Calendar CSS */
#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}