<div class="eventheader">
  <h2>Career Event List</h2>
</div>
<div class="mainCol">
  <% if @today_events_career.any? %>
    <%= render 'pages/event_row', :object => @today_events_career, :date_type => "Today" %>
  <% elsif @tomorrow_events_career.any? %>
    <%= render 'pages/event_row', :object => @tomorrow_events_career, :date_type => "Tomorrow" %>
  <% elsif @week_events_career.any? %>
    <%= render 'pages/event_row', :object => @week_events_career , :date_type => "This Week" %>
  <% elsif @month_events_career.any? %>
    <%= render 'pages/event_row', :object => @month_events_career , :date_type => "This Month" %>
  <% else %>
    No Events in Career Peak
  <% end %>
</div>
