<div class="eventheader">
  <h2>Financial Event List</h2>
</div>
<div class="mainCol"> 
  <% if @today_events_financial.any? %>
    <%= render 'pages/event_row', :object => @today_events_financial, :date_type => "Today" %>
  <% elsif @tomorrow_events_financial.any? %>
    <%= render 'pages/event_row', :object => @tomorrow_events_financial, :date_type => "Tomorrow" %>
  <% elsif @week_events_financial.any? %>
    <%= render 'pages/event_row', :object => @week_events_financial , :date_type => "This Week"%>
  <% elsif @month_events_financial.any? %>
    <%= render 'pages/event_row', :object => @month_events_financial , :date_type => "This Month"%>
  <% else %>
    No Events in Financial Peak
  <% end %>
</div>
