<div class="eventheader">
  <h2>Personal Event List</h2>
</div>
<div class="mainCol">
  <% if @today_events_personal.any? %>
    <%= render 'pages/event_row', :object => @today_events_personal, :date_type => "Today" %>
  <% elsif @tomorrow_events_personal.any? %>
    <%= render 'pages/event_row', :object => @tomorrow_events_personal, :date_type => "Tomorrow" %>
  <% elsif @week_events_personal.any? %>
    <%= render 'pages/event_row', :object => @week_events_personal , :date_type => "This Week"%>
  <% elsif @month_events_personal.any? %>
    <%= render 'pages/event_row', :object => @month_events_personal , :date_type => "This Month"%>
  <% else %>
    No Events in Personal Peak
  <% end %>
</div>
