<div class="eventheader">
  <h2>Possibility Event List</h2>
</div>
<div class="mainCol">
  <% if @today_events_possibility.any? %>
    <%= render 'pages/event_row', :object => @today_events_possibility, :date_type => "Today" %>
  <% end %>
  <% if @tomorrow_events_possibility.any? %>
    <%= render 'pages/event_row', :object => @tomorrow_events_possibility, :date_type => "Tomorrow" %>
  <% end %>
  <% if @week_events_possibility.any? %>
    <%= render 'pages/event_row', :object => @week_events_possibility , :date_type => "This Week"%>
  <% end %>
  <% if @month_events_possibility.any? %>
    <%= render 'pages/event_row', :object => @month_events_possibility , :date_type => "This Month"%>
  <% end %>
</div>
